.app {
    width: 100%;
    margin: 0;

    &__top {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    &__main {

    }

    &__footer {

    }

    &__logo {
        &--ai {height:1.4em;}
        &--irs {width: 9em;}
        &--vre {height: 2em;}
    }

}

h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h1,  body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 100;
    font-size: 1.7em;       
    margin: 0 auto 0.3em;
}

p {
    font-size: 0.4em;
}

button {
    border: none !important;
    font-size: 1em;
    color: #3276B5;
    background-color: #F5FAFE;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8BDFE3 !important;
}

#app {
    margin-top: 2em;
}

button:focus {
    outline: 0;
}

#logo {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 9em;
}
